
.idea/

data/__pycache__/

net/__pycache__/

utility/__pycache__/

net/save_dir/

analysis/tables/

net/save_dir2/

__pycache__/

analysis/figures/

net/generators/

analysis/results/

dataset_content.csv

analysis/results_backup/
